{% extends 'base.html.twig' %}

{% block title %}Resultat de recherche{% endblock %}

{% block body %}
    <h2>Resultat de recherche de<code>{{ mot}}</code></h2>
        <div class="card-columns">
            {% for livre in livres %}
                {% include "livre/vignette.html.twig" %}
            {% endfor %}
        </div>

{% endblock %}
